/* <-------App structure -----> */
.Wrapper {
  /* text-align: center; */
  color: black;
  align-content: center;
  display: grid;
  /* repeat(auto-fit, minmax(240px, 1fr)) */
  grid-template-rows: 100px auto;
  grid-template-columns: 150px auto;
  grid-template-areas: "Header Header" "Nav-Bar Main-Content";
}

/*Colours
#FFFFFF - white
#DD2C00 - ferrari red
#FF5722 - Giant Orange
#00BCD4 - Turquoise surf
#B2EBF2 - Pale Turquoise

*/
.Header {
  background-color: #00203fff;
  grid-area: Header;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 200px;
  align-items: center;
  align-content: center;
  color: rgb(255, 255, 255);
}

.Nav-Bar {
  background-color: #adefd1ff;
  grid-area: Nav-Bar;
}

.Main-Content {
  background-color: #adefd1ff;
  width: 100%;
  grid-area: Main-Content;
  display: flex;
  flex-direction: column;
}

/* <------Header------ > */
Header h1 {
  text-align: start;
  font-size: 250%;
  padding-left: 10%;
}
.First-Letter {
  color: #f18f01;
}
/* <-------- Login Form-------> */
.Login-Section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  align-self: flex-start;
  align-items: flex-start;
  font-size: 0.9rem;
}

.User-Menu {
  color: rgb(255, 255, 255);
  vertical-align: bottom;
}
.User-Menu::before {
  content: "Login as ";
  text-align: left;
  color: rgb(255, 255, 255);
}

/* <------Nav-Bar------> */
.Nav-Links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Link,
.Link:visited {
  background-color: #f4f7f6;
  margin: 10%;
  padding: 4%;
  text-decoration: none;
  color: black;
  border: 1.5px solid black;
  border-radius: 20px;
  width: 5em;
  text-align: center;
  transition: ease-out 0.5s background-color;
}
.Link:hover {
  background-color: rgb(111, 233, 178);
  background-color: rgba(0, 31, 63, 0.836);
  color: white;
}

/* <------Loader------> */

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #30e4eb;
  border-bottom: 16px solid #f14747;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 1s linear infinite;
  margin: 1% auto;
  font-size: 0.9em;
}

@keyframes spin {
  00% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* <-------- Articles -------> */

.Article-Grid {
  /* border: 1px solid pink; */

  width: 100%;
  height: 100%;
  list-style: none;
  display: grid;
  grid-row-gap: 1em;
  padding: 0;
}

.Article-Item {
  background-color: #f4f7f6;
  background-color: rgba(126, 247, 211, 0.61);
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(63, 53, 53);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  color: #00203fff;
}

.Article-Item article {
  align-content: left;
  padding: 0px auto;
  width: 90%;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.Article-Info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.Single-Article-Link,
.Single-Article-Link:visited {
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px black solid;
  border-radius: 5px;
  padding: 6px;
  background-color: rgba(0, 31, 63, 0.897);
  color: white;
}

h4 {
  letter-spacing: 1px;
}
.Article-Info p {
  color: rgb(107, 106, 106);
  color:#00203fff;
  margin: 15px;
  font-size: 0.7rem;
  font-weight: bolder;
  height: 100%;
  text-align: center;
  line-height: 2em;
  letter-spacing: 1px;
}

.Main-Content h2 {
  width: 90%;
  text-align: center;

  margin-bottom: 2%;
}

.Sort-Component {
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  width: 90%;
}

/* <-------- Sort Component -------> */

.Sort-Section {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 1%;
}

.Sort-Section select {
  margin-right: 10px;
}

.Filter-Section input {
  margin-right: 10px;
}

/* <-------- Single Article -------> */

.Single-Article-Container {
  width: 90%;
  margin: 2% auto;
  border: 1px solid black;
  padding: 1% 2%;
}

.Article-Items {
  list-style: none;
  display: grid;
  margin: 4% auto;
  grid-template-columns: repeat(5, 1fr);
  justify-items: last baseline;
}

/* <-------- Comments -------> */
.Comment-Box {
  width: 70%;
  margin: 2% auto;
  border: 1px solid black;
  padding: 1%;
  text-align: left;
  justify-content: left;
}

.User-Comment {
  background-color: rgb(200, 235, 236);
}
/* <-------- Votes -------> */
.Vote-Btn {
  height: 90%;
  margin: 0 2px;
  font-size: 1em;
  color: black;
}

.Voted {
  background-color: rgba(236, 247, 138, 0.63);
  color: red;
  border: 1px solid rgb(83, 236, 63);
}

/* <-------- Comments Input Box -------> */
/* .Comment-Input-Box {
} */
