/* <-------App structure -----> */
.Wrapper {
  color: black;
  align-content: center;
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 150px auto;
  grid-template-areas: "Header Header" "Nav-Bar Main-Content";
}

.Header {
  background-color: #00203fff;
  grid-area: Header;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
}

.Nav-Bar {
  /* background-color: #adefd1ff; */
  background-color: none;
  grid-area: Nav-Bar;
}

.Main-Content {
  background-color: none;
  width: 100%;
  grid-area: Main-Content;
  display: flex;
  flex-direction: column;
}

/* <------Header------ > */
Header h1 {
  text-align: start;
  font-size: 250%;
  padding-left: 10%;
  width: 80%;
}
.First-Letter {
  color: #f18f01;
}
/* <-------- Login Form-------> */
.Login-Section {
  width: 40%;
  padding-top: 3%;
  text-align: left;
  font-size: 0.8rem;
}

.User-Menu {
  /* border: 1px solid red; */
  color: rgb(255, 255, 255);
}
.User-Menu::before {
  content: "Login as ";
  text-align: left;
  color: rgb(255, 255, 255);
}

/* <------Nav-Bar------> */
.Nav-Links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Link,
.Link:visited {
  background-color: #f4f7f6;
  margin: 10%;
  padding: 4%;
  text-decoration: none;
  color: black;
  border: 1.5px solid black;
  border-radius: 20px;
  width: 5em;
  text-align: center;
  transition: ease-out 0.5s background-color;
}
.Link:hover {
  background-color: rgb(111, 233, 178);
  background-color: rgba(0, 31, 63, 0.836);
  color: white;
}

.options {
  color: rgb(255, 255, 255);
}

/* <------Loader------> */

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #30e4eb;
  border-bottom: 16px solid #f14747;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 1s linear infinite;
  margin: 1% auto;
  font-size: 0.9em;
}

@keyframes spin {
  00% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* <-------- Articles -------> */

.Article-Grid {
  /* border: 1px solid pink; */
  font-size: 1em;
  width: 100%;
  height: 100%;
  list-style: none;
  display: grid;
  grid-row-gap: 1em;
  padding: 0;
}

.Article-Item {
  background-color: rgb(173, 239, 209);
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(63, 53, 53);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  color: black;
}

.Article-Item article {
  width: 100%;
  padding: 0px auto;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
.Article-Item article p {
  padding-left: 15px;
  padding-right: 15px;
}

.Article-Info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  font-size: 1rem;

  margin-top: 10px;
}
.Article-Info p {
  color: #00203fff;
  margin: 0px 15px;
  font-size: 0.6rem;
  font-weight: bolder;
  height: 100%;
  text-align: center;
  line-height: 2em;
  letter-spacing: 1px;
}
.Single-Article-Link,
.Single-Article-Link:visited {
  text-decoration: none;
  letter-spacing: 1px;
  color: black;
}
.Article-Item header {
  margin: 0 15px;
  padding: 0;
}
h4 {
  letter-spacing: 1px;
  margin-bottom: 0;
}

.Main-Content h2 {
  width: 100%;
  text-align: center;
}

/* <-------- Sort Component -------> */

.Sort-Section {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  /* margin: 0 auto; */
}

.Sort-Section div select {
  margin: 10px;
  font-size: 0.8rem;
}

/* <-------- Single Article -------> */

.Single-Article-Container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* border: 1px solid black; */
  padding: 1% 2%;
  letter-spacing: 1px;
  font-size: 1rem;
}
.Single-Article-Container h4 {
  text-align: center;
}

.Article-Body {
  letter-spacing: 1px;
  font-size: 0.9rem;
  word-spacing: 2px;
  text-align: left;
  margin: 3% 2%;
}
.Single-Article-Info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  margin: 0 auto;
  width: 100%;
  margin-top: 10px;
}
.Single-Article-Info p {
  color: #00203fff;
  margin: 0px 10px;
  font-size: 0.6rem;
  font-weight: bolder;
  height: 100%;
  text-align: center;
  line-height: 2em;
  letter-spacing: 1px;
}
.Voting {
  margin: 3% 2%;
}
/* <-------- Comments -------> */
.Comments-Container {
  margin-top: 2%;
}

.Comments {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}
.Comment-Box {
  display: flex;
  background-color: rgb(200, 235, 236);
  flex-direction: column;
  align-items: flex-start;
  margin: 1% auto;
  padding: 1% 2%;
  width: 80%;
  border: 1px solid black;
  text-align: left;
  font-size: 0.8em;
}
.Comment-Form {
  margin-top: 2%;
  font-size: 1rem;
}
.Comments h4 {
  text-decoration: underline;
}
.Comments article {
  font-size: 0.8rem;
  margin-bottom: 2%;
}
.Comment-Info {
  color: #00203fff;
  font-size: 0.7rem;
  font-weight: bolder;
  letter-spacing: 1px;
}

.User-Comment {
  background-color: #f8d971;
}
.Login-msg {
  font-size: 0.75rem;
  width: fit-content;
  text-transform: uppercase;
  background-color: #f700009d;
  text-decoration: overline underline;
}
/* <-------- Votes -------> */
.Vote-Btn {
  height: 90%;
  margin: 0 2px;
  font-size: 1em;
  color: black;
}

.Voted {
  background-color: rgba(236, 247, 138, 0.63);
  color: red;
  border: 1px solid rgb(83, 236, 63);
}

/* <-------- Error Page -------> */
.Error {
  text-align: center;
}

/* <-------- Media queries -------> */

@media only screen and (max-width: 830px) {
  .Article-Info {
    flex-direction: column;
    align-items: left;
    font-size: 1rem;
    margin-top: 10px;
  }
  .Article-Info p {
    margin: 0.5% 0 0.5% 3%;
    font-size: 0.7rem;
    font-weight: bolder;
    height: 100%;
    text-align: justify;
    line-height: 2em;
    letter-spacing: 1px;
  }
  .Sort-Section {
    flex-direction: column;
    font-size: 0.6rem;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    width: 30%;
    margin: 0 auto;
  }

  .Sort-Section div select {
    margin: 5px;
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 680px) {
  .Wrapper {
    display: flex;
    flex-direction: column;
  }

  .Nav-Links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .Link,
  .Link:visited {
    font-size: 1rem;
    margin: 1% auto;
    margin-top: 5%;
    padding: 2%;
  }

  .Article-Item {
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    height: 100%;
    font-size: 0.8rem;
  }

  .Article-Item article {
    font-size: 0.7rem;
  }
  .Article-Info p {
    margin-left: 15px;
    font-size: 0.5rem;
    font-weight: bolder;
  }
  .Login-Section {
    width: fit-content;
    text-align: left;
    padding: 0;
    font-size: 0.5rem;
  }
  .options {
    font-size: 0.5rem;
  }

  .Header {
    align-items: center;
    /* align-content: flex-end; */
  }
  .Header h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .Comment-Form {
    margin: 2% auto;
    font-size: 0.7rem;
    width: 80%;
  }
  .Comment-Form textarea {
    display: block;
  }
  .Comment-Form button {
    font-size: 0.6rem;
  }
  .Comment-Info {
    font-size: 0.5rem;
  }

  .Single-Article-Info {
    flex-direction: column;
  }
  .Single-Article-Info p {
    font-size: 0.6rem;
  }
  .Article-Body {
    font-size: 0.8rem;
  }
  .Comments article {
    font-size: 0.7rem;
  }
  .Login-msg {
    font-size: 0.4rem;
  }
}
@media only screen and (max-width: 515px) {
  .Link,
  .Link:visited {
    /* border: 1px solid yellow; */
    font-size: 0.6rem;
    margin: 1% auto;
    margin-top: 5%;
    padding: 2%;
  }
}
