.Wrapper {
  /* text-align: center; */

  display: grid;
  width: 100%;
  grid-template-rows: 100px auto 200px;
  grid-template-columns: 150px auto;
  grid-template-areas:
    "Header Header"
    "Nav-Bar Main-Content ";
}

.Header {
  background-color: rgb(247, 253, 162);
  /* border: 1px solid black; */
  grid-area: Header;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.Nav-Bar {
  /* border: 1px solid green; */
  grid-area: Nav-Bar;
}

.Main-Content {
  /* border: 1px solid blue; */
  grid-area: Main-Content;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.Login-Section {
  /* border: 1px solid red; */
}

.First-Letter {
  color: rgb(207, 64, 64);
}

/* <------Header------> */
Header h1 {
  text-align: center;
}

.Login-Section {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  align-self: center;

  align-items: center;
  font-size: 0.7rem;
}

/* <------Nav-Bar------> */
.Nav-Links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Link,
.Link:visited {
  margin: 10%;
  padding: 4%;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  width: 5em;
  text-align: center;
}

/* <-------- Login Form-------> */
.User-Menu {
  vertical-align: bottom;
}
.User-Menu::before {
  content: "Login as ";
  text-align: left;
  color: black;
}

/* <------Loader------> */

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #30e4eb;
  border-bottom: 16px solid #f14747;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 1s linear infinite;
  margin: 1% auto;
  font-size: 0.9em;
}

@keyframes spin {
  00% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* <-------- Articles -------> */

.Article-Grid {
  /* border: 1px solid pink; */
  width: 100%;
  height: 100%;
  list-style: none;
  display: grid;
  grid-row-gap: 1em;
  padding: 0;
  justify-content: space-evenly;
}
.Article-Item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(63, 53, 53);
  border-radius: 20px;
  align-items: center;
  width: 100%;
  
}

.Article-Info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.Article-Info p {
  padding-left: 40px;
  font-size: 0.8em;
}

.Main-Content h2 {
  text-align: center;
  margin-bottom: 4%;
}

.Sort-Component {
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

/* <-------- Sort Component -------> */

.Sort-Section {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

.Filter-Section {
  margin: 2%;
}

/* <-------- Single Article -------> */

.Single-Article-Container {
  width: 90%;
  margin: 2% auto;
  border: 1px solid black;
  padding: 1% 2%;
}

.Article-Items {
  list-style: none;
  display: grid;
  margin: 4% auto;
  grid-template-columns: repeat(5, 1fr);
  justify-items: last baseline;
}

/* <-------- Comments -------> */
.Comment-Box {
  width: 70%;
  margin: 2% auto;
  border: 1px solid black;
  padding: 1%;
  text-align: left;
  justify-content: left;
}

.User-Comment {
  background-color: rgb(200, 235, 236);
}
/* <-------- Votes -------> */
.Vote-Btn {
  height: 90%;
  margin: 0 2px;
  font-size: 1em;
  color: black;
}

.Voted {
  background-color: rgba(236, 247, 138, 0.63);
  color: red;
  border: 1px solid rgb(83, 236, 63);
}

/* <-------- Comments Input Box -------> */
/* .Comment-Input-Box {
} */
